<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>The Tech Scene in Playa del Carmen</title>
  <meta name="description" content="List of people who work in Technology in Playa del Carmen, Mexico. Tips and advice to travel to Playa, and activities to do here.">
  <meta name="viewport" content="width=device-width initial-scale=1">
  <!--{if release}-->
  <link rel="stylesheet" href="css/techplaya.compiled.css">
  <!--{else}>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css'>
  <!{endif}-->
</head>
<body>



<!--{if release}-->
  <script type="text/javascript" src="js/techplaya.compiled.js"></script>
<!--{else}>
<script src="js/vendor/d3.v3.min.js"></script>
<script src="js/vendor/d3.geo.projection.v0.min.js"></script>
<script src="js/vendor/topojson.v0.min.js"></script>
<script src="js/utils.js"></script>                
<script src="js/world.js"></script>
<script src="js/destinations.js"></script>
<script src="js/weather.js"></script>
<script src="js/satellite.js"></script>
<script src="js/flights.js"></script>
<script src="js/load.js"></script> 
<!{endif}-->
<script type="text/javascript">
</script>
  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID.   -->
  <script>
      var _gaq=[['_setAccount','UA-38948656-1'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>
